body
{
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;

    min-height: 100%;
    margin: 0;

    color: #333;
    background-color: #fff;
}





/* -----------------------------------
   #Primary navigation
-----------------------------------*/



.bd-primary-nav-container
{
    margin-top: 60px;
}

.bd-primary-nav-item,
.bd-primary-nav-item:focus,
.bd-primary-nav-item:active
{
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 700;

    display: inline-block;

    margin-right: 7px;
    margin-left: 7px;
    padding: 15px 25px;

    cursor: pointer;
    -webkit-transition: background-color 500ms ease, color 50ms ease;
            transition: background-color 500ms ease, color 50ms ease;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff7e8;
    border: 1px solid #fff7e8;
    background-color: transparent;
}

.bd-primary-nav-item.active
{
    color: #4a4a4a;
    background-color: #fff7e8;
}

.bd-primary-nav-item:hover
{
    text-decoration: none;

    color: #4a4a4a;
    background-color: #fff7e8;
}

@media screen and (max-width: 767px)
{
    .bd-primary-nav-item,
    .bd-primary-nav-item:focus,
    .bd-primary-nav-item:active
    {
        display: block;

        margin: 15px;
    }
}

@media screen and (max-width: 479px)
{
    .bd-primary-nav-item,
    .bd-primary-nav-item:focus,
    .bd-primary-nav-item:active
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}





/* -----------------------------------
   #Header for primary navigation
-----------------------------------*/



.bd-header-wrapper
{
    background-color: #0098ff;
    background-image: linear-gradient(180deg, rgba(75, 73, 56, .28), rgba(75, 73, 56, .28)), url('../images/background_home.jpg');
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    background-position: 0 0, 50% 66%;
    background-size: auto, cover;
}

.bd-header-container
{
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    padding: 60px 0;

    text-align: center;
}

.bd-header-title-top
{
    font-family: 'Great Vibes', sans-serif;
    font-size: 60px;
    font-weight: 600;

    color: #fff7e8;
}

@media screen and (max-width: 991px)
{
    .bd-header-container
    {
        width: 728px;
    }
}

@media screen and (max-width: 767px)
{
    .bd-header-container
    {
        width: 90%;
        margin-top: 0;
    }
}

@media screen and (max-width: 479px)
{
    .bd-header-container
    {
        padding: 20px 0;
    }
    .bd-header-title-top
    {
        font-size: 40px;
    }
    .bd-primary-nav-container
    {
        margin-top: 40px;
    }
}





/* -----------------------------------
   #Footer
-----------------------------------*/



.bd-footer-top
{
    padding: 60px 5px 50px 5px;

    text-align: center;

    background: #474645;
}

.bd-footer-top-title
{
    font-family: 'Open Sans', 'Droid Serif','Lato', serif;
    font-size: 18px;
    line-height: 30px;

    padding-bottom: 25px;

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #b3b3b3;
}

.bd-footer-bottom
{
    padding: 20px 0;

    text-align: center;

    border-top: 1px solid #55534e;
    background: #3c3c3c;
}

.bd-footer-menu
{
    margin: 0;
    padding: 0;
}

.bd-footer-menu li
{
    display: inline-block;
}

.bd-footer-menu li a
{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    margin-right: 5px;
    margin-left: 5px;

    transition: color .3s ease;

    color: #b3b3b3;
}

.bd-footer-menu li a:hover
{
    text-decoration: none;

    color: white;
}

.bd-footer-top .bd-footer-btn
{
    display: inline-block;
}
