/*home*/


body
{
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;

    min-height: 100%;
    margin: 0;

    color: #333;
    background-color: #fff;
}

.bd-wrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100vh;

    background-color: #0098ff;
    background-image: linear-gradient(180deg, rgba(75, 73, 56, .28), rgba(75, 73, 56, .28)), url('../images/background_home.jpg');
    background-repeat: repeat, no-repeat;
    background-position: 0 0, 50% 50%;
    background-size: auto, cover;
}

.bd-container
{
    width: 940px;
    margin-top: -80px;

    text-align: center;
}

.bd-title-divider
{
    height: 3px;
    margin: 30px 70px;
    padding: 0;

    background-color: #fff7e8;
}


.bd-title-top
{
    font-family: 'Great Vibes', sans-serif;
    font-size: 35px;

    color: #fff7e8;
}

.bd-title-middle
{
    font-family: Vollkorn, serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;

    margin: 20px 0;

    color: #fff7e8;
}

.bd-title-bottom
{
    font-family: Bitter, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;

    margin: 10px 0;

    letter-spacing: 1px;
    text-transform: capitalize;

    color: #fff7e8;
}


@media screen and (max-width: 1366px)
{
    .bd-title-middle
    {
        font-size: 60px;
        line-height: 70px;
    }
}

@media screen and (max-width: 991px)
{
    .bd-container
    {
        width: 728px;
    }
}

@media screen and (max-width: 767px)
{
    .bd-wrapper
    {
        background-image: linear-gradient(180deg, rgba(75, 73, 56, .28), rgba(75, 73, 56, .28)), url('../images/small_screen_background.jpg');
    }

    .bd-container
    {
        width: 90%;
        margin-top: 0;
    }

    .bd-title-top
    {
        font-size: 30px;
        line-height: 30px;
    }

    .bd-title-middle
    {
        font-size: 60px;
        line-height: 70px;
    }

    .bd-title-bottom
    {
        font-size: 25px;
        line-height: 25px;
    }

    .bd-primary-nav-item
    {
        display: block;

        margin: 15px;
    }
}


@media screen and (max-width: 479px)
{
    .bd-title-top
    {
        font-size: 25px;
        line-height: 25px;
    }

    .bd-title-middle
    {
        font-size: 40px;
        line-height: 50px;
    }

    .bd-title-bottom
    {
        font-size: 18px;
        line-height: 18px;
    }

    .bd-title-divider
    {
        margin: 30px 40px;
    }

    .bd-primary-nav-item
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/* Landscape */
@media screen
  and (max-height: 420px)
  and (max-width: 740px)
{
    .bd-wrapper
    {
        height: auto;
    }
}
